<ion-header mode="ios">
    <ion-toolbar mode="ios" color="primary">
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-align-items-end setBottom" margin-bottom>
        <ion-col size="12" sizeMd="6" offsetMd="3" sizeLg="6" offsetLg="3" sizeXl="4" offsetXl="4">
            <ion-card padding *ngIf="checkFormChangePassword; else forgotPassword">
                <form [formGroup]="changepswdForm">
                    <ion-item no-padding>
                        <ion-label position="floating">Current password
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="password" clearInput="true" name="currentPassword" formControlName="currentPassword"></ion-input>
                    </ion-item>
                    <div margin-top margin-left *ngIf="!changepswdForm.controls.currentPassword.valid && (changepswdForm.controls.currentPassword.dirty ||changepswdForm.controls.currentPassword.touched)">
                        <div *ngIf="changepswdForm.controls['currentPassword'].errors['required']">
                            <ion-text color="danger">Please enter current password.</ion-text>
                        </div>
                        <div *ngIf="changepswdForm.controls['currentPassword'].errors['minlength']">
                            <ion-text color="danger">You have to enter at least 6 character!</ion-text>
                        </div>
                    </div>
                    <ion-item no-padding>
                        <ion-label position="floating">New password
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="password" clearInput="true" name="newPassword" formControlName="newPassword"></ion-input>
                    </ion-item>
                    <div margin-top margin-left *ngIf="!changepswdForm.controls.newPassword.valid && (changepswdForm.controls.newPassword.dirty ||changepswdForm.controls.newPassword.touched)">
                        <div *ngIf="changepswdForm.controls['newPassword'].errors['required']">
                            <ion-text color="danger">Please enter new password.</ion-text>
                        </div>
                        <div *ngIf="changepswdForm.controls['newPassword'].errors['minlength']">
                            <ion-text color="danger">You have to enter at least 6 character!</ion-text>
                        </div>
                    </div>
                    <ion-item no-padding>
                        <ion-label position="floating">Confirm password
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="password" clearInput="true" name="confirmPassword" formControlName="confirmPassword"></ion-input>
                    </ion-item>
                    <div margin-top margin-left *ngIf="!changepswdForm.controls.confirmPassword.valid && (changepswdForm.controls.confirmPassword.dirty ||changepswdForm.controls.confirmPassword.touched)">
                        <div *ngIf="changepswdForm.controls['confirmPassword'].errors?.MatchPassword">
                            <ion-text color="danger">Password not match</ion-text>
                        </div>
                    </div>
                    <div text-center padding-top>
                        <ion-button type="submit" shape="round" expand="block" [disabled]="!changepswdForm.valid">
                            <ion-ripple-effect></ion-ripple-effect>
                            Set Password
                        </ion-button>
                    </div>
                </form>
            </ion-card>
            <ng-template #forgotPassword>
                <ion-card padding>
                    <form [formGroup]="forgotpswdForm">
                        <ion-item no-padding>
                            <ion-label position="floating">New password
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input type="password" clearInput="true" name="newPassword" formControlName="newPassword"></ion-input>
                        </ion-item>
                        <div margin-top margin-left *ngIf="!forgotpswdForm.controls.newPassword.valid && (forgotpswdForm.controls.newPassword.dirty ||forgotpswdForm.controls.newPassword.touched)">
                            <div *ngIf="forgotpswdForm.controls['newPassword'].errors['required']">
                                <ion-text color="danger">Please enter new password.</ion-text>
                            </div>
                            <div *ngIf="forgotpswdForm.controls['newPassword'].errors['minlength']">
                                <ion-text color="danger">You have to enter at least 6 character!</ion-text>
                            </div>
                        </div>
                        <ion-item no-padding>
                            <ion-label position="floating">Confirm password
                                <ion-text color="danger">*</ion-text>
                            </ion-label>
                            <ion-input type="password" clearInput="true" name="confirmPassword" formControlName="confirmPassword"></ion-input>
                        </ion-item>
                        <div margin-top margin-left *ngIf="!forgotpswdForm.controls.confirmPassword.valid && (forgotpswdForm.controls.confirmPassword.dirty ||forgotpswdForm.controls.confirmPassword.touched)">
                            <div *ngIf="forgotpswdForm.controls['confirmPassword'].errors?.MatchPassword">
                                <ion-text color="danger">Password not match</ion-text>
                            </div>
                        </div>
                        <div text-center padding-top>
                            <ion-button type="submit" shape="round" expand="block" [disabled]="!forgotpswdForm.valid">
                                <ion-ripple-effect></ion-ripple-effect>
                                Set Password
                            </ion-button>
                        </div>
                    </form>
                </ion-card>
            </ng-template>


        </ion-col>
    </ion-row>
</ion-content>