<ion-header mode="ios">
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="register-div">

    </div>
    <ion-card class="register-card" padding>
        <form [formGroup]="signupForm" (ngSubmit)="signupFormSubmit(signupForm)">
            <ion-row>
                <ion-col size="12" margin-bottom>
                    <ion-item no-padding>
                        <ion-label position="floating">Email
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="email" clearInput="true" name="email" formControlName="email"></ion-input>
                    </ion-item>
                    <div margin-top margin-left *ngIf="!signupForm.controls.email.valid &&(signupForm.controls.email.dirty ||signupForm.controls.email.touched)">
                        <div *ngIf="signupForm.controls['email'].errors['required']">
                            <ion-text color="danger">Email is required.</ion-text>
                        </div>
                        <div *ngIf="signupForm.controls['email'].errors['email']">
                            <ion-text color="danger">Enter proper email.</ion-text>
                        </div>
                    </div>
                </ion-col>

                <!-- <ion-col size="12" margin-bottom>
                    <ion-item no-padding>
                        <ion-label position="floating">Phone Number
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="number" name="phone" formControlName="phone"></ion-input>
                    </ion-item>
                    <div margin-top margin-left *ngIf="!signupForm.controls.phone.valid &&(signupForm.controls.phone.dirty ||signupForm.controls.phone.touched)">
                        <div *ngIf="signupForm.controls['phone'].errors['required']">
                            <ion-text color="danger">Phone Number is required.</ion-text>
                        </div>
                        <div *ngIf="signupForm.controls['phone'].errors['pattern']">
                            <ion-text color="danger">Enter Proper number.</ion-text>
                        </div>
                    </div>
                </ion-col> -->

                <ion-col size="12" margin-bottom>
                    <ion-item no-padding>
                        <ion-label position="floating">Password
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="password" clearInput="true" name="password" formControlName="password"></ion-input>
                    </ion-item>
                    <div margin-top margin-left *ngIf="!signupForm.controls.password.valid && (signupForm.controls.password.dirty ||signupForm.controls.password.touched)">
                        <div *ngIf="signupForm.controls['password'].errors['required']">
                            <ion-text color="danger">Please enter password.</ion-text>
                        </div>
                        <div *ngIf="signupForm.controls['password'].errors['minlength']">
                            <ion-text color="danger">You have to enter at least 6 character!</ion-text>
                        </div>
                    </div>
                </ion-col>

                <ion-col size="12" margin-bottom>
                    <ion-item no-padding>
                        <ion-label position="floating">Confirm Password
                            <ion-text color="danger">*</ion-text>
                        </ion-label>
                        <ion-input type="password" clearInput="true" name="confirmPassword" formControlName="confirmPassword"></ion-input>
                    </ion-item>
                    <div margin-top margin-left *ngIf="!signupForm.controls.confirmPassword.valid && (signupForm.controls.confirmPassword.dirty ||signupForm.controls.confirmPassword.touched)">
                        <div *ngIf="signupForm.controls['confirmPassword'].errors?.MatchPassword">
                            <ion-text color="danger">Password not match</ion-text>
                        </div>
                    </div>
                </ion-col>

                <ion-col text-center size="10" offset="1">
                    <ion-button type="submit" shape="round" expand="block" [disabled]="!signupForm.valid">
                        <ion-ripple-effect></ion-ripple-effect>
                        Register
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-card>
</ion-content>